html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*body {
    line-height: 1;
}*/
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*    Variables*/
/* Default Mobile styles*/
.flex-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap; }
  .flex-outer .heading-row {
    text-align: center;
    width: 100%;
    background: #57b130;
    color: #fff;
    margin-bottom: 20px; }

.text-lg {
  font-size: 3rem;
  font-family: verdana;
  padding: 20px 5px;
  letter-spacing: 0.3em;
  text-transform: uppercase; }

.grid {
  display: grid;
  /*line-height: 50px;*/ }
  .grid .label {
    background: #999;
    font-size: 1em;
    color: white;
    padding-left: 5px;
    font-family: verdana; }

.input-box {
  background: #e6e6e6;
  /*line-height: 55px;*/
  border: none;
  padding-left: 10px;
  font-size: 1em;
  font-family: verdana; }

.full {
  width: 99%; }

.half {
  width: 97%; }

.grid-full {
  grid-template-columns: 2fr 3fr;
  margin-bottom: 20px; }

.grid-half {
  grid-template-columns: 2fr 2fr;
  margin-bottom: 20px; }
  .grid-half .grid-inner {
    display: grid;
    grid-template-columns: 2fr 1fr; }

.sign-up {
  height: 55px;
  background: #57b130;
  border: none;
  color: white;
  font-size: 2em;
  margin-left: 40%;
  width: 25%;
  cursor: pointer;
  text-transform: uppercase; }

/*desktop styles*/
@media only screen and (min-width: 768px) {
  form {
    max-width: 700px;
    margin: 20px auto; }

  .flex-outer {
    padding: 10px; }
    .flex-outer .input-row {
      display: flex;
      flex-wrap: wrap; }
    .flex-outer .item {
      flex: 1 1 100px; }
    .flex-outer .grid {
      /*line-height: 28px;*/ }
      .flex-outer .grid .label {
        width: 150px;
        padding-top: 15px; }
    .flex-outer .grid-full {
      grid-template-columns: 1fr 4fr; }
    .flex-outer .grid-inner {
      grid-template-columns: 2fr 3fr; }
    .flex-outer .sign-up {
      margin-left: 190px;
      width: 300px; } }
/*ipad and tab styles*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  form {
    max-width: 700px;
    margin: 20px auto; }

  .flex-outer {
    padding: 20px; }
    .flex-outer .input-row {
      display: flex;
      flex-wrap: wrap; }
    .flex-outer .item {
      flex: 1 1 100px; }

  .grid {
    /*line-height: 28px;*/ }

  .grid-full {
    grid-template-columns: 1fr 7fr; }

  .grid-inner {
    grid-template-columns: 2fr 3fr; }

  .sign-up {
    margin-left: 190px;
    width: 300px; } }
/*small mobiles */
@media only screen and (min-device-width: 320px) and (max-device-width: 412px) {
  .flex-outer {
    width: 700px;
    padding: 15px 20px 0px 15px; }
    .flex-outer .heading-row {
      width: 380px; }

  .text-lg {
    letter-spacing: 0.2em; }

  .grid {
    /*line-height: 50px;*/ }

  .grid-full {
    grid-template-columns: 2fr 3fr; }

  .grid-inner {
    grid-template-columns: 0.8fr 1fr; }

  .sign-up {
    margin-left: 25%;
    width: 50%; } }
@media (min-width: 320px) and (max-width: 767px) {
  .flex-outer {
    width: auto;
    padding: 15px 15px 0px 15px; }
    .flex-outer .heading-row {
      width: 100%; }
    .flex-outer .input-row {
      padding-right: 8px; }

  .text-lg {
    letter-spacing: 0.2em; }

  .grid {
    /*line-height: 50px;*/ }

  .grid-full {
    grid-template-columns: 2fr 3fr; }

  .grid-inner {
    grid-template-columns: 0.8fr 1fr; }

  .sign-up {
    margin-left: 25%;
    width: 50%; } }

/*# sourceMappingURL=style.css.map */
