<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/libs/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/libs/underscore-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone-min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/template" id="registration-template">
		<div id="registerApp">
			<ul class="flex tab-group">
		        <li class="tablinks active" id="tab1"><a>Register Here</a></li>
		    </ul>
		    <form id="tab1-content" class="tab-content">
			    <ul class="flex-outer">
				    <li class="flex">
				        <label for="first-name">First Name</label>
				        <input type="text" id="first-name" placeholder="Enter your first name here">
				    </li>
			      	<li class="flex">
			        	<label for="last-name">Last Name</label>
			        	<input type="text" id="last-name" placeholder="Enter your last name here">
			      	</li>
			      	<li class="flex">
			        	<label for="email">Email</label>
			        	<input type="email" id="email" placeholder="Enter your e-mail here">
			      	</li>
			      	<li class="flex">
				        <label for="phone">Password</label>
			    	    <input type="password" id="password" placeholder="Enter password">
			      	</li>
			      	<li class="flex">
				        <label for="phone">Confirm Password</label>
			    	    <input type="password" id="cpassword" placeholder="Confirm password">
			      	</li>
				    <li class="flex">
				        <button  class="theme" type="button" id="js-submit">Get Started</button>
				    </li>
			    </ul>
			</form>
		</div>
	</script>
	<script type="text/html" id="detail-template">
		<div id="detailApp">
			<ul class="flex tab-group">
		        <li class="tablinks active clear" id="tab1"><a>User Details</a></li>
		    </ul>
		    
			    <ul class="flex-outer">
			        <h1 class="flex">First Name : <%= firstName %></h1>
			        <h1 class="flex">Last Name : <%= lastName %></h1>
			        <h1 class="flex">Email : <%= email %></h1>
			      	<h1 class="flex">Password : <%= password%></h1>
			    </ul>
			
		</div>
	</script>
</head>
<body>
<div class="form" id="container">	
 </div>
</body>
</html>
