<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/libs/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/libs/underscore-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone-min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/template" id="registration-template">
		<div id="registerApp">
			<ul class="flex tab-group">
		        <li><a>Register Here</a></li>
		    </ul>
		    <form id="tab1-content" class="tab-content" method="POST">
			    <ul class="flex-outer">
				    <li class="flex">
				        <label for="first-name">First Name</label>
				        <input type="text" id="first-name" placeholder="Enter your first name here" required>
				        
				    </li>
				    <li class="firstName"><h2></h2></li>
			      	<li class="flex">
			        	<label for="last-name">Last Name</label>
			        	<input type="text" id="last-name" placeholder="Enter your last name here" required>
			      	</li>
			      	<li class="lastName"><h2></h2></li>
			      	<li class="flex">
			        	<label for="email">Email</label>
			        	<input type="email" id="email" placeholder="Enter your e-mail here">
			      	</li>
			      	<li class="email"><h2></h2></li>
			      	<li class="flex">
				        <label for="phone">Password</label>
			    	    <input type="password" id="password" placeholder="Enter password">
			      	</li>
			      	<li class="password"><h2></h2></li>
			      	<li class="flex">
				        <label for="phone">Confirm Password</label>
			    	    <input type="password" id="cpassword" placeholder="Confirm password">
			      	</li>
			      	<li class="cpassword"><h2></h2></li>
				    <li class="flex">
				        <button  class="theme" type="button" id="js-submit">Get Started</button>
				    </li>
				    
			    </ul>
			</form>
		</div>
	</script>
	<script type="text/html" id="detail-template">
		<div id="detailApp">
			<ul class="flex tab-group">
		        <li class="tablinks clear" id="tab1"><a>User Details</a></li>
		    </ul>
		    <ul class="flex-outer">
		        <li class="grid grid-item"><h1>First Name : </h1><h3><%= firstName %></h3></li>
		        <li class="grid grid-item"><h1>Last Name : </h1><h3><%= lastName %></h3></li>
		        <li class="grid grid-item"><h1>Email : </h1><h3><%= email %></h3></li>
		      	<li class="grid grid-item"><h1>Password : </h1><h3><%= password%></h3></li>
		    </ul>
		</div>
	</script>
</head>
<body>
<div class="form" id="container">	
 </div>
</body>
</html>
