@import 'reset';
@import 'config';
body{
    font-family: $font-verdana;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
}
.container {
    border-radius: 4px;
}
.flex{
    @include flexbox;
}
.tab-group {
    li{
        text-align: center;
        width: 100%;
        background:$green;
        color:$font-white;
        margin-bottom: 20px;
    }
}
.text-lg{
    font-size: $font-big;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.flex-outer{
    li{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        @include gridbox;
        label{
            background: $dark-grey;
            padding: 15px 10px;
            margin-bottom: 10px;
            color: $font-white;
            font-size: $font-md;
        }
        input{
            background: $light-grey;
            padding: 15px 10px;
            margin-bottom: 10px;
            border: none;
            font-size: $font-md;
        }
        .detail-label{
            grid-column: 1/3;
        }
        .input-value{
            grid-column: 3/6;
        }
    }
    li:last-child{
        grid-template-columns: 1fr;
    }
}
.btn-box{
    height: 55px;
    background: $green;
    border: none;
    color: $font-white;
    font-size: 2em;
    cursor: pointer;
    text-transform: uppercase;
}
#error-box{
    display: none;
}
.has-error{
    line-height: 28px;
    color: $red;
}
.error-box{
    display: block;
}

/*  Desktop   */
@media (min-width: 1024px){
    .flex-outer{
        li{
            flex-direction: row;
            grid-template-columns: 2fr 4fr;
        }
        .item{
            grid-template-columns: repeat(4 ,1fr);
        }
        li:last-child{
            padding: 0 40%;
        }
        .error-box{
            @include gridbox;
            grid-column: 1/3;
        }
        .a{order:1;}
        .b{order:2;}
        .c{order:5;grid-column:1/3;}
        .d{order:3;}
        .e{order:4;}
        .f{order:6;grid-column:3/5}
    }
}   
/*  ipad styles    */
@media  (min-width : 768px) and (max-width : 1023px){
    .flex-outer{
        li{
            flex-direction: row;
            grid-template-columns: 2fr 4fr;
        }
        li:last-child{
            padding: 0 20%;
        }
        .error-box{
            @include gridbox;
            grid-column: 1/3;
        }
    }
}