html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*    Variables*/
$font-big:3rem;
$font-md:1.5em;
$font-verdana:verdana;
$flex:flex;
/* Default Mobile styles*/
.flex-outer{
    display: $flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    .heading-row{
        text-align: center;
        width: 100%;
        background:#57b130;
        color:#fff;
        margin-bottom: 20px;
    }
    .input-row{
        width: 100%;
    }
}
.text-lg{
    font-size: $font-big;
    font-family: $font-verdana;
    padding: 20px 0px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.grid{
    display: grid;
    line-height: 50px;
    .label{
        background: #999;
        font-size: $font-md;
        color: white;
        padding-left: 10px;
    }
    .input-box>input{
        background: #e6e6e6;
        line-height: 55px;
        width: 100%;
        border: none;
        font-size: $font-md;
    }
}
.grid-full
{
    grid-template-columns: 2fr 4fr;
    margin-bottom: 20px;
}
.grid-half{
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 10px;
    margin-bottom: 20px;
    .grid-inner{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }  
}
.sign-up{
    height: 55px;
    background: #57b130;
    border: none;
    color: white;
    font-size: 2em;
    margin-left: 40%;
    width: 25%;
}
