<!DOCTYPE html>
<html>
<head>
	<title>Modern Registration</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/libs/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/libs/underscore-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone-min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<meta name="viewport" content="width=device-width">
	<script type="text/template" id="registration-template">
		<ul class="flex tab-group">
	        <li><a class="text-lg">Register Here</a></li>
	    </ul>
		<form >
			<ul class="flex-outer">
				<li class="flex item">
					<label for="first-name">First Name</label>
					<input type="text" id="first-name" placeholder="Enter your first name here" required>
					<h2 class="firstName" id="error"></h2>
					<label for="last-name">Last Name</label>
					<input type="text" id="last-name" placeholder="Enter your last name here" required>
				</li>
				<li class="flex">
					<label for="address">Address</label>
					<input type="text" id="address" placeholder="Enter your address" required>
				</li>
				<li class="flex item">
					<label for="city">City</label>
					<input type="text" id="city" placeholder="Enter your city" required>
					<label for="pin">Pin Code</label>
					<input type="text" id="pin" placeholder="Enter your pin code" required>
				</li>
				<li class="flex item">
					<label for="age">Age</label>
					<input type="text" id="age" placeholder="Enter your age" required>
					<label for="gender">Gender</label>
					<input type="text" id="gender" placeholder="Enter your gender" required>
				</li>
				<li class="flex">
					<label for="email">Email</label>
					<input type="email" id="email" placeholder="Enter your e-mail here">
				</li>
				<li class="flex item">
					<label for="mobile1">Mobile 1</label>
					<input type="text" id="mobile1" placeholder="Enter your mobile no" required>
					<label for="mobile1">Mobile 2</label>
					<input type="text" id="mobile2">
				</li>
				<li class="flex item">
					<label for="country">Country</label>
					<input type="text" id="country" placeholder="Enter your country" required>
					<label for="nationality">Nationality</label>
					<input type="text" id="nationality" placeholder="Enter your nationality" required>
				</li>
				<li class="flex item">
					<label for="password">Password</label>
					<input type="password" id="password" placeholder="Enter password">
					<label for="mobile1">Confirm Password</label>
					<input type="password" id="cpassword" placeholder="Enter confirm password">
				</li>
				<li class="flex">
					<button type="button" type="button" id="js-submit" class="btn-box">Sign Up</button>
				</li>
			</ul>
		</form>
	</script>
	<script type="text/html" id="detail-template">
		<div id="detailApp">
			<ul class="flex tab-group">
		        <li class="tablinks clear" id="tab1"><a>User Details</a></li>
		    </ul>
		    <ul class="flex-outer">
		        <li class="grid grid-item"><h1>First Name : </h1><h3><%= firstName %></h3></li>
		        <li class="grid grid-item"><h1>Last Name : </h1><h3><%= lastName %></h3></li>
		        <li class="grid grid-item"><h1>Email : </h1><h3><%= email %></h3></li>
		      	<li class="grid grid-item"><h1>Password : </h1><h3><%= password%></h3></li>
		    </ul>
		</div>
	</script>
</head>
<body>
	<div id="container">
		
	</div>
</body>
</html>

